In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from funcions import dades, graficar

In [2]:
df = dades()
df

/home/sgxaviii/Documentos/Datathon-FME-2023/Repte NTTData/funcions.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TGL'].loc[df['TGL'] == 'TRANSITO'] = 1
/home/sgxaviii/Documentos/Datathon-FME-2023/Repte NTTData/funcions.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TGL'].loc[df['TGL'] == 'ALMACENABLE'] = 0
/home/sgxaviii/Documentos/Datathon-FME-2023/Repte NTTData/funcions.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIPOCOMPRA'].loc[df['TIPOCOMPRA'] == 'Compra menor'] = 1
/home/sgxaviii/Documentos/Datathon-FME-2023/Repte NTTData/funcions.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIPOCOMPRA'].loc[df['TIPOCOMPRA'] == 'Concurso'] = 0

      CODIGO   NUMERO      PRECIO TIPOCOMPRA TGL CATEGORIA  CAJA  MES   ANY
0      99808  1595724   62.590000          1   1         1   6.0    1  2023
1      41691    72714  102.803729          1   0         2   4.0    1  2016
2      64543    71961   12.100000          1   1         1   4.0    1  2016
3      65007    72773  215.325000          0   0         1   2.0    1  2016
4      64911    86159  792.000000          0   0         1   1.0    1  2017
...      ...      ...         ...        ...  ..       ...   ...  ...   ...
15693  64543  1334083   12.100000          1   1         1   6.0   10  2023
15694  64543  1334092   12.100000          1   1         1   4.0   10  2023
15695  64543  1335522   12.100000          1   1         1   2.0   10  2023
15696  50071  1336295  114.950000          1   1         3   1.0   10  2023
15697  65159   996520   10.461204          1   0         1   1.0   12  2015

[15698 rows x 9 columns]

In [3]:
codi = '65159'
df = df.where(df['CODIGO']==codi)
df.dropna(inplace=True)
df = df[['CODIGO','CAJA', 'MES', 'ANY','ORIGEN']]
df = df.groupby(['CODIGO','ANY','MES','ORIGEN'])['CAJA'].sum()
df = df.to_frame()
df

KeyError: "['ORIGEN'] not in index"